* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 50%);
  height: 100vh;
  align-items: center;
  position: relative;
}
.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3.75rem;
  padding-bottom: 8.5rem;
  padding-inline: 4.25rem;
  background-color: rgba(0, 0, 0, 75%);
  border-radius: 0.1875rem;
}
.forgot {
  text-decoration: none;
  color: #ffff;
  padding-top: 1.3rem;
  font-size: 14px;
}
.forgot:hover {
  color: rgb(105, 108, 110);
  text-decoration: underline;
}
